nav ul {
  
 
    list-style-type: round;
      
     
    margin: 0;
      
     
    padding: 0;
    }
    
    nav ul li {
      
     
    display: inline-block;
    }
    
    nav ul li a {
      
     
    display: block;
      padding: 10px;
      
    text-decoration: none;
      color: white;
      font-weight: bold;
    }
    
    nav ul li a:hover {
      background-color: #f16234;
    }
    
    body {
        background-color: #f16234;
    }

    .menuhorizontal {
        text-align: center;
        color: rgba(255, 255, 255, 0);
         position: absolute;
    }

    .menuhorizontal {
        margin: 0;
        padding: 0;
        width: 30px;
        height: 25px;
        }

        .menuhorizontal ul {
        list-style: none;
        }

        .menuhorizontal li {
        display: inline;
        float: left;
        padding: 0px;
        margin: 5px;
        width: 100px;
        border-left: #e0f70f00 thin solid;
        }

        .menuhorizontal a {
        display: block;
        text-decoration:none;
        padding: 10px;
        background-color: orange;
        font-family:Verdana, Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: bold;
        }

        .menuhorizontal :hover {
        text-decoration: none;
        }

        .menuhorizontal li.btnesquerdo {
        border: radiu=30;
        }

        h3{
            background:orange;
align-items: center;
            }

            body{
                background:#f16234;
                  }

                .container {
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                }

                #checkbox-menu {
                position: absolute;
                opacity: 40;
                }

                label
                h2 {
                color: white;
                font-size: 60px;
                }
                 ul {
                    text-decoration-color: white;
                 }
                  
/*----------------------main-banner-----------------------------*/
.main-banner {
	background-position: center;
	background-size: cover;
    margin-left: 135px;
    margin-right: 135px;
    padding: 10;
	align-items: center;
        justify-content: center;
     text-align: center;        
}

.main-banner h1 {
	font-size: 50px;
}

.main-banner h1::after{
    content: '';
    display: block;
    border-bottom: 10px solid orange;
   position: relative;
    margin: 0 auto;
    margin-top: 10px;
}

.main-banner h2{
    font-size: 35px;
}



/*----------------------------------------------------------------------*/
.right-body {
    flex: 1;
    display: flex;
    overflow: hidden;
  }
  .top-bar {
    display: flex;
    align-items: center;
    text-align: center;
  }
  .top-bar-justify {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .top-bar-items {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 180px;
  }
  .profile2 > img {
    border-radius: 90%;
    width: 98x;
    height: 98px;
    border: 8px solid white;
    margin-left: 55px;
    margin-right: 45px;
  }
  .profile2 {
    display: flex;
    align-items: center;
  
    width: 220px;
  }
  .icon-name5 {
    font-size: 13px;
    color: grey;
  }
  .new-hr {
    border: 0.6px solid #ddd;
    margin-bottom: 25px;
  }
  .notif {
    position: relative;
  }
 
  
  .checkbox > input {
    width: 20px;
    height: 20px;
  }
  
  .right-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .down-arrow > img {
    width: 72px;
    height: 74px;
    margin-bottom: -2px;
    margin-left: 5px;
  }
  .new:hover {
    background-color: white;
  }
  .new {
    border-radius: 4px;
    border: none;
    width: 40px;
    height: 50px;
    background-color: orange;
  }
  .check {
    display: flex;
    align-items: center;
  }
  .has-search .text {
    padding-left: 30px;
    margin-left: 45px;
  }
  .form {
    display: flex;
    align-items: center;
  }
  .searchIcon {
    margin-left: 53px;
    position: absolute;
    margin-top: 2px;
  }
  .text {
    border: 1px solid laranja;
    border-radius: 4px;
    width: 280px;
    height: 30px;
    background-color: #edeef5;
  }
  .buttons {
    display: flex;
  }
  .middle-buttons {
    display: flex;
  }
  /*----------------largura entre colunas----------*/
  .scroll-cards {
    width: 830px;
    height: 100%;
    overflow: auto;
  
    padding: 20px 0px 5px 0px;
  }
  .card {
    background-color: white;
    border-radius: 4px;
    margin-top: 8px;
    margin-bottom: 5px;
    padding: 25px 25px 15px 25px;
    transition: 0.3s;
  }
  .card:hover {
    background: orange;
    transform: scale(0.96);
  }
  
  .burguer-names {
    color: black;
    font-weight: bold;
    font-size: 15px;
    margin-left: 80px;
  }
  
  .imagens {
    display: flex;
    align-items: center;
  }
  .imagens > img {
    width: 545px;
    height: 345px;
    border-radius: 10px;
  }
  .ham-info {
    margin: 10px 65px;
    margin-left: 0px;
    line-height: 1.7;
    font-weight: 600;
  }
  .check1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
  }
  .bottom-info {
    display: flex;
    justify-content: space-between;
/* ----------------------------------------------------------*/
  }
  .date {
    color: grey;
  }
  .person {
    width: 25px;
    height: 25px;
    border-radius: 10px;
    text-align: center;
    color: white;
    padding: 5px 3px 0px;
  }
 /*-----------------------------------------------------------*/
  
  
  
  .message {
    margin: 20px 10px;
    flex: 1;
    background-color: white;
    padding: 25px;
    overflow: auto;
  }
  .mes-date {
    color: grey;
    font-size: 14px;
  }
  .who {
    font-weight: 600;
  }
  .title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  
  .message-from {
    margin-top: 20px;
    color: grey;
    font-size: 17px;
  }
  .attachment-last {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 350px;
  }
 
  
  .btn1 {
    border-radius: 3px;
    border: 1px;
    height: 25px;
    font-weight: bold;
  }
  .inside-img > img {
    width: 100px;
    border-radius: 10px;
    margin-top: 20px;
  }
  .inside-img > img:hover {
    transform: scale(0.95);
  }
  .son-buton {
    width: 100px;
    height: 68px;
    border-radius: 10px;
    border: 1px;
    margin-top: 17px;
    background-color: #f5e9f9;
    color: #f16234;
    font-weight: 500;
    font-size: 20px;
  }
  .son-imagens {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 520px;
  }
  .btn2 {
    margin-top: 40px;
    border-radius: 3px;
    border: 1px;
    height: 35px;
    padding: 5px 30px;
    color: white;
    position: relative;
  }
  
 
 
 
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  

 #map {

    width: 100%;

    height: 400px;

    background-color: grey;
}

.redes-sociais {

 align-items: center;
 justify-content: center;
  text-align: center;
 position: relative;
                      }