@importar  url ( 'https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap' ){

}
@importar  URL ( 'https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap' ){
}

body{
font-family: arial, helvetica, sans-serif;
font-size: 12,5px;
margin: 10px 10px; 
padding: 10px 10px;
text-justify: center;
-ms-flex-item-align: center;

}

.menu{
list-style:none;
border:1px solid rgb(114, 200, 205);
float:left;
text-justify: center;

}

.menu li{
    position:relative;
    float:left;
    border-right:1px solid #c0c0c0;
    text-justify: center;

    }

.menu li a{
    
    color:rgb(114, 200, 205);
    text-decoration:none; 
    padding:5px 10px; display:block;
}

.menu li a:hover{
background:#333;
color:#fff;
-moz-box-shadow:0 3px 10px 0 #CCC;
-webkit-box-shadow:0 3px 10px 0 #ccc;
text-shadow:0px 0px 5px #fff;
text-justify: center;

}

.menu li  ul{
    position: relative;
    top:25px;
    background-color:#fff;
    display:none;
    text-justify: center;
    place-items: center;

    }

    .menu li:hover ul, .menu li.over ul{
        position: relative;
        text-justify: center;
        display:block;}

    .menu li ul li{
        position: relative;
        border:1px solid #c0c0c0;
        display:block;
        width:150px;
        }


/*-------------*/



/*header*/

header {
    background-origin: rgb(114, 200, 205);
    align-items: center;
    justify-content: space-around;
}

header h1 {
    color: rgb(114, 200, 205);
    font-size: 2.5rem;
}

header span {
    color: white;
}

/*      teste */
body{
background:url('https://farm9.staticflickr.com/8760/17195790401_ceeeafcddb_o.jpg');
background-size:cover;
font-family: 'Cabin Condensed', sans-serif;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
background-color: #222;
}
.svg{font-weight: bold; max-width:600px; height:auto; margin-block-start: auto;}


/* tracinho no menu */ /* modificar o red para transparente */
header .navegacao-primaria li a::after {
    content: '';
    width: 0px;
    height: 0px;
    border-bottom: 4px solid black;
    display: block;
    transition: .9s;
}

/* colocar o tracinho para aparecer somente qndo passar mouse */

header .navegacao-primaria li a:hover::after {
    width: 100%;
    height: 0px;
    padding: 0px;
    border-bottom: 4px solid aqua;
}


/*dowload cv secao*/

.section-div {
    animation: initialize .7s forwards;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background-color: #222;

}

.section-div div {
    margin-top: 120px;
    align-self: start;
    display: grid;
    gap: 30px;
}


/*DOWLOAND*/
.section-div div a {
    justify-self: start;
    color: white;
    padding: 15px 40px;
    border-radius: 5px;
    border: 2px solid white;
}

.section-div img {
    max-width: 100%;
    border-radius: 500px;
    border: 2px solid aqua;
}

.digitando::after {
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: blink .5s infinite;
}

@keyframes blink {
    from {
        opacity: 1;
   }
    to {
opacity: 0;
    }
}

@keyframes inicializar {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }
    to {
opacity: 1;
transform: translate3d(0, 0, 0);
    }
}

/* experiencia */

.resume_generico {
color: #fff;

}
.resume_generico {
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 10px;
    align-items: start;
}

.resume_generico h2 {
    font-family: 'Poppins';
    font-size: 1.5rem;
    background-color: rgb(114, 200, 205);
    justify-content: start;
    padding: 10px;
    border-radius: 3px;
}

.resume_generico h2 i {
    margin-right: 10px;
}

.experiencia {
    margin-bottom: 30px;
    grid-column: 1;
    grid-row: 1;
}

.educacao {
    margin-bottom: 30px;
    grid-column: 2;
    grid-row: 1;
}

/*BOLINHA*/
.experiencia_content ul {
    color: black;
    gap: 20px;
    display: flex;
    cursor: pointer;
    margin-top: 20px;
    justify-content: center;
}
/*CARD 01 EXPLICATIVO*/
.resume_generico  .experiencia_content div {
    background-color: rgb(114, 200, 205);
    animation: ladoSecao .5s ease-in-out forwards;
    display: none;
    padding: 40px;
    position: relative;
}

.resume_generico .experiencia_content div.ativo {
    display: block;
}
/*SETA ACIMA DO CARD 01*/
.resume_generico .experiencia_content div::before {
    content: '';
    border-right: 30px solid transparent;
    border-bottom: 30px solid black;
    position: absolute;
    top: -20px;
    left: 30px;
    display: inline-block;
}
/*SAIBA MAIS card 01*/
.resume_generico .experiencia_content div span {
    color: red;
    font-family: "poppins";
    font-weight: bold;

}

.resume_generico .experiencia_content div h3 {
    font-family: 'Poppins';
    margin: 10px 0;
}

.resume_generico .experiencia_content div p {
    color: black;
    font-size: 1.1rem;
}

/*COR DA BOLINHA QNDO ACIONADA CARD 01*/
.experiencia_content ul li.ativo {
    color: white;
}
/*CARD 02  */
.resume_generico  .educacao_content div {
    background-color: rgb(114, 200, 205);
    padding: 40px;
    animation: ladoSecao .5s ease-in-out forwards;
    display: none;
    position: relative;
}

/*COR DA BOLINHA CARD 02*/
.educacao_content ul {
    color: black;
    gap: 20px;
    display: flex;
    cursor: pointer;
    margin-top: 20px;
    justify-content: center;
}

/*SETA ACIMA DO CARD 02*/
.resume_generico .educacao_content div::before {
    content: '';
    border-right: 30px solid transparent;
    border-bottom: 30px solid black;
    position: absolute;
    top: -20px;
    left: 30px;
    display: inline-block;
}

/*saiba mais 02*/
.resume_generico .educacao_content div span {
    color: #e10303;
    font-family: "Poppins";
    font-weight: bold;

}

.resume_generico .educacao_content div h3 {
    font-family: 'Poppins';
    margin: 10px 0;
}

.resume_generico .educacao_content div p {
    color: black;
    font-size: 1.1rem;
}

.resume_generico .educacao_content div.ativo {
    display: block;
    }
    /*COR DA BOLINHA QNDO ACIONADA CARD 02*/
    .educacao_content ul li.ativo {
        color: white;
    }
    
       /* estrelas */
    .estrelas {
        margin-top: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: start;
        padding: 150px;
        gap: 0px;
        justify-content: center;
        grid-column: 3/-1;

    }
/*---------------------------------------*/
.inf h1 {
text-align: center;
color: white;
}

.inf h2 {
    justify-self: unset;
    text-align: center;
    height: 100px;
    width: 900px;
    padding-inline-end: -100;
    margin-bottom: 80;
    color: white;
}


/*---------------------------------------------*/
    .estrelinhas {
        display: grid;
    }

    .estrelinhas h2 {
        padding: 10px 30px;
        border-radius: 3px;
        background-color: rgb(114, 200, 205);
        font-size: 1.5rem;
        font-family: 'Poppins';
        margin-bottom: auto;
        justify-self: start;
        grid-column: 1/-1;

    }
     .estrelinhas h2 i {
        padding: 10px;
     }

     .estrelinhas_content {
        font-size: 1.5rem;
        grid-column: 1/2;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
        margin-top: 10px;
     }
      
     .estrelinhas_content h3 {
        font-size: 1.5rem;
        color: white;
     }

     .estrelinhas_content ul {
        display: flex;
     }

     .estrelinhas_content ul li {
     color: white;
     }


     /* FUN FACTS */
        
     .coracao {
        grid-column: 3/-1;
        grid-row: 1;
        display: grid;
        align-items: start;
        grid-template-columns: -1fr;
        margin-top: auto;
        display: grid;
        justify-content: center;  
}
     .coracao h2 {
        grid-column: 1/-1;
        padding: 10px 30px;
        border-radius: 3px;
        font-size: 1.5rem;
        font-family: 'Poppins';
        background-color: black;
        margin-bottom: 30px;
        justify-self: start;
     }
     .coracaozinho_content h3 {
        font-size: 1.5rem;
        color: white;
     }
     .coracaozinho h2 i {
        padding: 10px;
     }
     .coracaozinho_content ul {
        display: flex;
     }

     .coracaozinho_content ul li {
     color: white;
     }

     .coracaozinho h2 {
        padding: 30px 30px;
        border-radius: 3px;
        background-color: rgb(114, 200, 205);
        font-size: 1.5rem;
        font-family: 'Poppins';
        margin-bottom: 30px;
        justify-self: start;
    }
    .coracaozinho_content {
        font-size: 1.5rem;
        grid-column: 1/2;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
        margin-top: 10px;
     }
     

     /*tablets*/
@media screen and (max-width: 768px){
    section,aside {
    width: 100%;
    padding: 0;
    }
    nav ul li {
        float: none;
        text-align: center;
        width: 100%;
    }
      }
    
    /*celular*/
    @media screen and (max-width: 600px){
    nav ul li {
    float: none;
    text-align: center;
    width: 100%;
      }

      svg {
        float: inherit;
        text-align: center;
        width: 100%;
      }

section, div {
    float: none;
    text-align: center;
    width: 100%;
}
    footer p {
    display: none;
         }
        }

      
        
/* rodapé-----*/

.footer {
    color: rgb(114, 200, 205);
    text-align: center;
    font-weight: bold;
    place-items: center;
    justify-content: center;
}
 
.row {
    text-align: center;
    margin-top: center;
  float: center;
  display: block;
 width: right;
}
 
.redes {
    justify-content: center;
    text-align: center;
    margin-top: center;
    width: auto;

}

 

 .rodapé-div {
    background-color: #fff;
    padding: 30px;
    display: block;
    align-content: center;
    justify-content: center;
    text-align: center;
 }
     
 .texto {
color: white;

}

.texto-div {
    justify-content: center;
    text-align: center;
    margin-top: center;
    padding: 10px;
    color: white;

} 
 /*-------------responsividade--------*/
        /*tablets*/
        @media screen and (max-width: 768px){
            section,aside {
            width: 100%;
            padding: 0;
              }
            }
        
            /*celular*/
            @media screen and (max-width: 600px){
            nav  li a{
            float: none;
            text-align: center; 
            width: 100%;
            }
        
            footer p {
            display: none;
                 }
            }