
@importar  url ( 'https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap' );{

}
@importar  URL ( 'https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap' );{

}

/*tablets*/
@media screen and (max-width: 768px){
section,aside {
width: 100%;
padding: 0;
  }
}
/*celular*/
@media screen and (max-width: 600px){
nav li {
float: none;
text-align: center;
width: 100%;
  }
footer p {
display: none;
     }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
list-style-position: inline;
  text-decoration: none;
    text-align: center justify;
}

body {
    background-color: rgb(0, 166, 255);
    color: white;
    width: 95%;
    margin-left: 46px;
    margin-right: 46px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify center;
}
body, h1{
    text-align: center;
}

  
/* tracinho no menu */ /* modificar o red para transparente */
/* colocar o tracinho para aparecer somente qndo passar mouse */      
       .header {
        display: flex;
        background-color: blue;
        padding: 5px;
        justify-content: space-between;
       }
    
       .header__logo {
        font-size: 36px;
        text-transform: uppercase;
        margin-left: 16px;
        spacing: 4px;
    }
    
       
       .header__nav ul{
        display: grid;
        list-style-type: none;
        font-size: 18px;
        gap: 16px;
        color: white;
        background-color: rgb(0, 166, 255);
        text-decoration: none;
        border-radius: 2px;
       }
    
              a.header__nav a{
                background-color: rgb(0, 166, 255);
                text-decoration: none;
                padding: 5px;
                border-radius: 6px;
                color: blue;
                transition: 5s ease;

              }
                .header__nav li{
                    border-radius: 2%;
                    border-color: blue;
                    box-shadow: 0 5px 15px 5px blue;
                    display:grid;
                }
    
              
                .header__nav a:hover{
                    text-decoration: none;
                    color: blue;  
              }
    
              a.header__nav--active{
                background-color: white;
                color: blue;
    
              }
              /*os dois cards  preto--------------------------------------*/
              .browser{
                display: flex;
                gap: 16px;
                padding: 36px;
              }
              .browser-inf{
                flex: 1;
                background-color: black;
                padding: 16px;
                border-radius: 6px;
                box-shadow: 0 5px 15px 5px blue;
                display: flex;
                flex-direction: column;
            
              }
               
                     .browser-inf__title{
                        text-transform: uppercase;
                        border-bottom: 2px solid blue;
                        margin-top:  0;
                        padding-bottom: 10px;
                        letter-spacing: 2px;
                     }
      
           .browser-inf p{
            margin-top: 0;
           }  
           
               .browser-inf__text{
                font-size: 34px;
               }
    
               .browser-inf__stitches{
                margin: 0 0 35px;
                color: white;
                padding-left: 26px;
                line-height: 1.10;
                flex-grow: 1;
    
               }
    
               .browser-inf__stitches li::marker{
                color: blue;
    
               }
                  
                  .browser-inf__cta{
                    text-decoration: none;
                    color: #8383d5;
                    background-color: rgb(0, 166, 255);
                    border-radius: 6px;
                    text-transform: uppercase;
                    font-size: 16px;
                    font-weight: bold;
                    padding: 16px 10px;
                    text-align: center;
    
                  }
    
                  .browser-inf__cta:hover{
                    outline: 2px solid rgb(0, 166, 255);
                    background-color: transparent;
                    color: blue;
                  }
    body{
        float: none;
        background-image: url(./img/ods7.png);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 85%;
        background-position: bottom;
       }           
       .last-articles__title{
        background-color: rgb(0, 166, 255);
        padding: 5px;
       }
       .last-articles h2{
        font-size: 24px;
        color:white;
        transform: uppercase;
        font-weight: 400;

       }
.last-articles__thumbs{
    display:grid;
}
.last-articles__thumbs img{
    display: block;
}
  
.menu {
    padding: 46px;
    margin: 0 2%;
    font-weight: 600;
    gap: 16px;

}

.menu-container {
    display: inline-flex;
    flex-wrap: wrap;
    text-align: auto;
    row-gap: 6px;
   
}

.menu-section {
    width: 100%;
    background-color: rgb(0, 166, 255);
    border-radius: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: block;
    flex-direction: column;
    align-items: center;
   overflow: hidden;
   mask-position: middle left=80 right=60;
   height: 350;

}


.menu-item {
    display: flex;
    align-items: flex-start;
    margin-top: 40;
    width: 100%;
    box-sizing: border-box;
    bottom: center;

}

.menu-item img {
    width: 100%;
    max-width: 200px;
    height: 150px;
    border-radius: 20px;
    margin-right: 10px;
    margin-left: 5px;
    flex-shrink: 0;
    object-fit: cover; 
    cursor: pointer;

}

.menu-item:hover img {
    transform: scale(2.10);

}


.menu-item .menu-text {
    display: flex;
    flex-direction: column;
    flex-grow: 1; 
    margin-bottom: auto;
    mask-position: middle; 


}
.menu-item h4,
.menu-item p {
text-justify: center;
padding: 20;

}


.menu-item p {
    color: white;
    flex: 1;
    padding: 30px;
    border-radius: 6px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    mask-position: middle;
}


.body-section1{
    display: inline-flex;
    gap: 36px;
    padding: 36px;

  }
  .body-inf{
    flex: 1;
    background-color: transparent;
    padding: 30px;
    border-radius: 6px;
    box-shadow: -4px 5px 16px 5px blue;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    mask-position: middle;
text-align: justify center;

  }
   
         .body-title{
            text-transform: uppercase;
            border-bottom: 2px solid blue;
            margin-top:  0;
            padding-bottom: 10px;
            letter-spacing: 2px;
            box-shadow: -4px 5px 16px 5px white;
            text-justify: distribute-all-lines;

           
         }

.body-inf p{
margin-block: auto;
text-align: justify;
}  

.body-section1 img{
margin-right: auto; 
margin-left: auto;
border-radius: 30px;
box-shadow: -4px 5px 16px 5px white;
}



/*SOBRE MIM*/
.autortext {
    justify-content: center;
    padding: 2%;
    margin-right: auto;
    margin-left: auto;
    text-justify: distribute-all-lines;
}
.centro {
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    background: linear-gradient(white, rgb(0, 166, 255));
text-align: center;
}

/*FOOTER*/
.bottomblue {
    background: rgb(0, 166, 255);
}

#link {
    color: #EEF2F7;
    padding: 0 2.9% 12px 0;
    font-size: 13.5px;
}

/*MENU RESPONSIVO*/
label {
    
    display: none;
    float: right;
    color: #EEF2F7;
    transform: translateY(-55px);
}

.menu a {
    clear: right;
    text-decoration: none;
    color:#EEF2F7;
}
  

.footer {
    padding-top: 0;
    text-align: justify;
    justify-items: center;
  } 
.bottomblue   {
    text-transform: center;
  justify-items: center;
}
.rodapé {
    text-transform: center;
    margin-right: 46px;
    margin-left: 46px ;
}

.rodapé-div {
    padding-top: 0;
        text-align: justify;
        box-direction: normal;
}
.sobretext .titlesobre {
    padding-top: 0;
    text-align: justify;
    box-direction: normal;  
}
.redes-sociais {

    align-items: center;
    justify-content: center;
     text-align: center;
    position: relative;
   
    }

    .copy{
        align-items: center;
        justify-content: center;
         text-align: center;
        position: relative;
        padding-top: 10px;
    }


    